* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    --font-title: 'Inter', sans-serif;
    --font-content: 'Lexend Deca', sans-serif;
    --color-white: hsl(0, 0%, 100%);
    --color-transparent-white: hsla(0, 0%, 100%, 0.75);
    --color-transparent-white-stats: hsla(0, 0%, 100%, 0.6);
}

html,
body {
    font-size: 15px;
    color: var(--color-white);
    font-family: var(--font-content);
}

.container {
    background-color: var(--main-background);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--card-background);
    width: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.card__info {
    text-align: center;
    padding: 1.5rem;
    order: 2;
}

.card__title {
    font-family: var(--font-title);
    margin: 20px 5px;
}

.card__title--accent {
    color: var(--accent);
}

.card__content {
    color: var(--color-transparent-white);
    font-size: 16px;
}

.card__image {
    width: 100%;
    order: 1;
    border-radius: 10px 10px 0 0;
}

.stats__info {
    margin-top: 20px;
}

.info__num {
    font-family: var(--font-title);
    font-size: 23px;
    font-weight: 700;
}

.info__name {
    text-transform: uppercase;
    color: var(--color-transparent-white-stats);
}